<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="Cargo Tracker service">

    <featureManager>
        <feature>batch-2.1</feature>
        <feature>beanValidation-3.0</feature>
        <feature>cdi-4.0</feature>
        <feature>enterpriseBeansLite-4.0</feature>
        <feature>enterpriseBeansPersistentTimer-4.0</feature>
        <feature>faces-4.0</feature>
        <feature>jdbc-4.3</feature>
        <feature>jndi-1.0</feature>
        <feature>jsonb-3.0</feature>
        <feature>localConnector-1.0</feature>
        <feature>mdb-4.0</feature>
        <feature>messaging-3.1</feature>
        <feature>messagingClient-3.0</feature>
        <feature>messagingServer-3.0</feature>
        <feature>persistence-3.1</feature>
        <feature>restfulWS-3.1</feature>
        <feature>xmlBinding-4.0</feature>
    </featureManager> 

    <!--
        <logging traceSpecification="*=info:EJBContainer=all:Injection*=all:com.ibm.websphere.jaxrs*=all:com.ibm.ws.jaxrs*=all:logservice*=all:org.apache.cxf.*=all:rarInstall*=all:WAS.j2c*=all:runtime.update*=all:resource*=all"
        traceFileName="trace.log"
        maxFileSize="0"
        maxFiles="0"
        traceFormat="BASIC"
        />
    -->

    <!-- Define http & https endpoints -->
    <variable defaultValue="9080" name="default.http.port" />
    <variable defaultValue="9443" name="default.https.port" />
    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" />
    <wasJmsEndpoint host="*" id="InboundJmsCommsEndpoint" wasJmsPort="7276" wasJmsSSLPort="9100" />

    <quickStartSecurity userName="usr" userPassword="pwd" />
    <authorization-roles id="com.ibm.ws.batch">
        <security-role name="batchAdmin">
            <special-subject type="EVERYONE"/>
        </security-role>
    </authorization-roles>

    <connectionManager id="CargoCM" maxPoolSize="400" minPoolSize="1"/>

    <jdbcDriver id="dbDriver" libraryRef="driver-library" />
    <dataSource id="CargoTrackerDB" jndiName="jdbc/CargoTrackerDB">
        <jdbcDriver libraryRef="driver-library" />
        <properties.postgresql
            serverName="${db.server.name}"
            portNumber="${db.port.number}"
            databaseName="${db.name}"
            user="${db.user}"
            password="${db.password}"
            ssl="${db.ssl}" />
    </dataSource>
    <variable name="db.ssl" defaultValue="false" />

    <library id="driver-library">
        <fileset dir="${shared.resource.dir}" includes="postgresql.jar" />
    </library>

    <databaseStore id="EJBPersistentTimerStore" keyGenerationStrategy="SEQUENCE" tablePrefix="WLP2_" />
    <persistentExecutor enableTaskExecution="true" id="EJBPersistentTimerExecutor"
                        ignore.minimum.for.test.use.only="true" initialPollDelay="-1" retryInterval="300s"
                        retryLimit="-1" taskStoreRef="EJBPersistentTimerStore">
    </persistentExecutor>

    <databaseStore id="ejbTimerDataStore" keyGenerationStrategy="SEQUENCE" />
    <dataSource id="DefaultDataSource" jdbcDriverRef="dbDriver">
        <properties.postgresql
            serverName="${db.server.name}"
            portNumber="${db.port.number}"
            databaseName="${db.name}"
            user="${db.user}"
            password="${db.password}"
            ssl="${db.ssl}" />
    </dataSource>

    <ejbContainer>
        <timerService persistentExecutorRef="EJBPersistentTimerExecutor" />
        <timerService missedPersistentTimerAction="ONCE" />
    </ejbContainer>

    <messagingEngine id="defaultME">
        <queue forceReliability="ReliablePersistent" id="CargoHandledQueue" maxQueueDepth="5000" />
        <queue forceReliability="ReliablePersistent" id="MisdirectedCargoQueue" maxQueueDepth="5000" />
        <queue forceReliability="ReliablePersistent" id="DeliveredCargoQueue" maxQueueDepth="5000" />
        <queue forceReliability="ReliablePersistent" id="HandlingEventRegistrationAttemptQueue"
               maxQueueDepth="5000" />
        <queue forceReliability="ReliablePersistent" id="RejectedRegistrationAttemptsQueue"
               maxQueueDepth="5000" />
    </messagingEngine>

    <jmsQueueConnectionFactory connectionManagerRef="CargoCM" jndiName="java:app/jms/QueueConnectionFactory">
    </jmsQueueConnectionFactory>

    <jmsQueue id="CargoHandledQueue" jndiName="java:app/jms/CargoHandledQueue">
        <properties.wasJms queueName="CargoHandledQueue"/>
    </jmsQueue>

    <jmsActivationSpec id="cargo-tracker/CargoHandledConsumer">
        <properties.wasJms destinationLookup="java:app/jms/CargoHandledQueue" destinationRef="CargoHandledQueue" destinationType="jakarta.jms.Queue" maxConcurrency="200"/>
    </jmsActivationSpec>  

    <jmsQueue id="MisdirectedCargoQueue" jndiName="java:app/jms/MisdirectedCargoQueue">
        <properties.wasJms queueName="MisdirectedCargoQueue"/>
    </jmsQueue>

    <jmsActivationSpec id="cargo-tracker/MisdirectedCargoConsumer">
        <properties.wasJms destinationRef="MisdirectedCargoQueue" destinationType="jakarta.jms.Queue" maxConcurrency="200"/>
    </jmsActivationSpec>  

    <jmsQueue id="DeliveredCargoQueue" jndiName="java:app/jms/DeliveredCargoQueue">
        <properties.wasJms queueName="DeliveredCargoQueue"/>
    </jmsQueue>

    <jmsActivationSpec id="cargo-tracker/DeliveredCargoConsumer">
        <properties.wasJms destinationRef="DeliveredCargoQueue" destinationType="jakarta.jms.Queue" maxConcurrency="200"/>
    </jmsActivationSpec>  

    <jmsQueue id="HandlingEventRegistrationAttemptQueue" jndiName="java:app/jms/HandlingEventRegistrationAttemptQueue">
        <properties.wasJms queueName="HandlingEventRegistrationAttemptQueue"/>
    </jmsQueue>

    <jmsActivationSpec id="cargo-tracker/HandlingEventRegistrationAttemptConsumer">
        <properties.wasJms destinationRef="HandlingEventRegistrationAttemptQueue" destinationType="jakarta.jms.Queue" maxConcurrency="200"/>
    </jmsActivationSpec>  

    <jmsQueue id="RejectedRegistrationAttemptsQueue" jndiName="java:app/jms/RejectedRegistrationAttemptsQueue">
        <properties.wasJms queueName="RejectedRegistrationAttemptsQueue"/>
    </jmsQueue>

    <jmsActivationSpec id="cargo-tracker/RejectedRegistrationAttemptsConsumer">
        <properties.wasJms destinationRef="RejectedRegistrationAttemptsQueue" destinationType="jakarta.jms.Queue" maxConcurrency="200"/>
    </jmsActivationSpec>

    <!-- Define web application with its context root and location -->
    <webApplication id="cargo-tracker" contextRoot="cargo-tracker"
                    location="${server.config.dir}/apps/cargo-tracker.war">
        <classloader commonLibraryRef="driver-library" />
        <web-bnd moduleName="cargo-tracker">
            <env-entry name="java:app/configuration/GraphTraversalUrl" value="http://localhost:8080/cargo-tracker/rest/graph-traversal/shortest-path"/>
        </web-bnd>
        <application-bnd>
            <security-role name="batchAdmin">
                <special-subject type="EVERYONE"/>
            </security-role>
        </application-bnd>
    </webApplication>

    <keyStore id="defaultKeyStore" password="password"/>
    <applicationMonitor updateTrigger="mbean"/>
    <applicationManager autoExpand="true"/>
    <httpSession cookieName="COOKIE"/>
    <channelfw chainQuiesceTimeout="60s"/>

</server>
